<template>
  <h1>Music Player</h1>

  <div :class="['music-container', {'play':playing }]">
    <div class="music-info">
      <h4 id="title"> {{songs[songIndex]}} </h4> 
      
      <span id=remaining> 00:00 </span>

      <div 
        @click="setProgress" 
        class="progress-container"
      >
        <div class="progress"></div>
      </div>
    </div>

    <audio
      id="audio"
      :src="require(`@/assets/music/hey.mp3`)"
      @timeupdate="updateProgressBar"
    >
    </audio>

    <div class="img-container">
      <img :src="require(`@/assets/images/${songs[songIndex]}.jpg`)">
    </div>

    <div class="navigation">
      <button 
        @click="prevSong"
        class="action-btn">
        <i class="fas fa-backward"></i>
      </button>

      <button
        @click="playing = !playing" 
        class="action-btn action-btn-big">
        <i :class="['fas', playing ? 'fa-pause':'fa-play']"></i>
      </button>

      <button 
        @click="nextSong"
        class="action-btn">
        <i class="fas fa-forward"></i>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    
  },
  data() {
    return {
      playing: false, 
      songs: ['hey', 'summer', 'ukulele'],
      songIndex: 0,
      volume: 1,
    };
  },
  watch: {
    playing() { this.playSong() },
  },
  methods: {
    playSong() {
      const audio = document.querySelector('#audio');
      if(this.playing) {
        audio.src = require(`@/assets/music/${this.songs[this.songIndex]}.mp3`);
        audio.volume = this.volume;
        audio.play();
      } else 
        audio.pause();
    },

    prevSong() {
      this.songIndex --;
      if(this.songIndex < 0) this.songIndex = this.songs.length -1;
      this.playSong();
    },

    nextSong() {
      this.songIndex ++;
      if(this.songIndex > this.songs.length -1) this.songIndex = 0;
      this.playSong();
    },

    updateProgressBar(e) {
      const progress = document.querySelector('.progress');
      const timeRemaining = document.querySelector('#remaining');

      const { duration, currentTime } = e.srcElement;
      const progressPercent = (currentTime / duration) * 100;
      const remaining = Math.floor(duration - currentTime) || 0;
      progress.style.width = `${progressPercent}%`;
      timeRemaining.innerText = this.toHHMMSS(remaining);
    },

    setProgress(e) {
      const audio = document.querySelector('#audio');
      const width = e.srcElement.clientWidth;
      const clickX = e.offsetX;
      const duration = audio.duration;
      audio.currentTime = (clickX / width) * duration;
    },

    toHHMMSS(totalSeconds) {
      let hours = Math.floor(totalSeconds / 3600);
      let minutes = Math.floor(totalSeconds / 60) % 60;
      let seconds = totalSeconds % 60;

      // additional formating
      minutes = String(minutes).padStart(2, "0");
      hours = String(hours).padStart(2, "0");
      seconds = String(seconds).padStart(2, "0");

      return `${hours}:${minutes}:${seconds}`;
    }
  },
}
</script>
